@media only screen and (max-width: 1024px) {
  .main-nav-list {
    font-size: 1.8rem;
    gap: 4rem;
  }

  .hero-heading {
    line-height: 1.2em;
    font-size: 3.4rem;
    margin-bottom: 1.2rem;
  }

  .hero-description {
    font-size: 1.8rem;
    line-height: 1.4em;
  }
}

@media only screen and (max-width: 960px) {
  .cta-form {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  /* nav to menu */
  .main-nav {
    padding: 0;
    height: 0;
  }

  .main-nav-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-light-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .main-nav-list li {
    margin: 1rem 0;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 5rem;
    right: 2rem;
    z-index: 1000;
  }

  /* When the checkbox is checked, show the menu */
  .menu-toggle:checked + .menu-icon + .main-nav-list {
    display: flex;
  }
  /* nav to menu end */

  .site-description {
    font-size: 2.2em;
    max-width: 60%;
    line-height: 1.2;
    margin: 0 2.5rem;
  }
  .featured-heading {
    margin-bottom: 0;
  }
  .featured-section {
    grid-template-columns: repeat(2, 1fr);
    padding: 2.4rem;
  }
  .section-cta {
    padding: 3rem 0 5.6rem 0;
  }
  .cta-text {
    line-height: 1.4;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
  .cta-img-box {
    height: 24rem;
    grid-row: 1;
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.4rem;
  }
}

/* Mobile devices */
@media only screen and (max-width: 600px) {
  .site-description {
    font-size: 1.8em;
    max-width: 60%;
    line-height: 1.2;
  }
  .hero-heading {
    line-height: 1.2em;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }
  .hero-description {
    font-size: 1.4rem;
    line-height: 1.4em;
  }
  .footer {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .footer-heading {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  .address {
    margin-bottom: 1.2rem;
  }
  .contacts {
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.2;
  }
}
