/* **Headings:** Fjalla One - Regular 400 */
/* **Subheadings:** Outfit - Extra-light 200
**Body:** Outfit - Extra-light 200 */

/* Colors defined*/
:root {
  --red-brown: #a05941;
  --green-black: #133032;
  --light-grey: #ededee;
  --white: #fff;
  --transparent-white: rgba(0, 0, 0, 0.75);
  --btn-hover-color: #d0b0a6;
  --btn-hover-green-color: #3e5a5b;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set default font size to 10px */
/* Smooth scrolling */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  max-width: 95%;
  margin: 0 auto;
  background-color: var(--light-grey);
}

/* ****************** */
/* Top header section */
/* ****************** */
.header {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: var(--white);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--red-brown);
}

.search input[type="text"] {
  padding: 0.8rem 1.6rem 0.8rem 4.4rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #fff;
  color: var(--red-brown);
  width: 100%;
}

.search input[type="text"]::placeholder {
  color: var(--red-brown);
  opacity: 1;
  font-size: 1.4rem;
}

.login-cart {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.login-icon-text {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.login-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--red-brown);
}

.login-text {
  font-size: 1.6rem;
  color: var(--red-brown);
}

.cart {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--red-brown);
}

/* ****************** */
/* 2nd header section */
/* ****************** */
.nav-section {
  background-color: var(--light-grey);
  color: var(--red-brown);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-menu .logo {
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav-menu-list {
  font-size: 1.4rem;
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.nav-menu-link:link,
.nav-menu-link:visited {
  color: var(--red-brown);
  text-decoration: none;
}

.nav-menu-link:active,
.nav-menu-link:hover {
  color: #000;
  text-decoration: none;
}

.logo-link:link,
.logo-link:visited {
  text-decoration: none;
  color: var(--red-brown);
}

.login-icon-text-menu-item {
  display: none;
}

/* Text switching styles */
.text-slide {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  width: 25rem;
}

.text-slide span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s, visibility 0s;
  font-family: "Fjalla One", serif;
  font-weight: 400;
}

.text-slide .text1 {
  animation: toggleText1 5s infinite;
}

.text-slide .text2 {
  animation: toggleText2 5s infinite;
}

@keyframes toggleText1 {
  0%,
  50% {
    opacity: 1;
    visibility: visible;
  }
  51%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes toggleText2 {
  0%,
  50% {
    opacity: 0;
    visibility: hidden;
  }
  51%,
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* menu icon */
.menu-icon {
  display: none;
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--red-brown);
}

.menu-toggle {
  display: none;
}

/* ************ */
/* Hero Section */
/* ************ */
.hero-section {
  height: 80vh;
  background-image: url("../imgs/Hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 12rem;
  margin-bottom: 5rem;
}

/* subtle color filter over hero image */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 48, 50, 0.3);
  z-index: 1;
}

.hero-section > * {
  position: relative;
  z-index: 2;
}

.hero-estb-year {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.estb-text,
.year-text {
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  border-bottom: 2px solid var(--white);
  padding-bottom: 1.2rem;
}

.hero-heading {
  font-family: "Fjalla One", serif;
  font-size: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2rem;
  text-align: center;
}

.hero-desc {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  margin-top: 2.4rem;
  margin-bottom: 5rem;
}

.hero-btn {
  font-size: 1.6rem;
  padding: 1rem 6rem;
}

/* ****************** */
/* Collection section */
/* ****************** */
.collection-section {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5rem;
}

.card-collection {
  position: relative;
  width: calc(33.33% - 20px);
  overflow: hidden;
}

.card-imgs {
  position: relative;
  overflow: hidden;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.card-heading {
  font-family: "Fjalla One", serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--red-brown);
  letter-spacing: 0.8rem;
  margin: 4rem 0 2rem;
}

.horizontal-line {
  width: 2rem;
  height: 0.5rem;
  background-color: var(--red-brown);
  margin-bottom: 3rem;
}

.card-btn {
  font-size: 1.6rem;
  padding: 1rem 4rem;
}

.card-img {
  width: 100%;
  height: 100%;
  display: block;
}

/* ************* */
/* About Section */
/* ************* */
.about-section {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto;
}

.about-text {
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--red-brown);
  padding: 5rem;
}

.about-heading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.about-desc {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.about-img-1,
.about-img-2 {
  grid-column: span 1;
  grid-row: 1;
}

.about-img-1 img,
.about-img-2 img {
  width: 100%;
  height: 100%;
}

.buy-online-image {
  grid-column: 1 / 2;
  grid-row: 2;
}

.buy-online-image img {
  width: 100%;
  height: 100%;
}

.buy-online-sec {
  grid-column: 2 / 4;
  grid-row: 2;
  background-color: rgb(18, 49, 50);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10rem;
  text-align: center;
}

.buy-online-sec p {
  font-family: "Fjalla One", serif;
  font-size: 8rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.buy-online-btn:link,
.buy-online-btn:visited {
  padding: 1rem 6rem;
  font-size: 1.8rem;
  background-color: var(--white);
  color: rgb(18, 49, 50);
  text-decoration: none;
  border: none;
}

.buy-online-btn:hover,
.buy-online-btn:active {
  background-color: #3e5a5b;
  color: var(--white);
  transition: all 0.3s ease;
}

/* ******************** */
/* Contact Form Section */
/* ******************** */
.contact-form-section {
  min-height: 80vh;
  background-image: url("../imgs/contact-form-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  padding-top: 6rem;
  /* padding-bottom: 5rem; */
}

/* subtle color filter over hero image */
.contact-form-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.contact-form-section > * {
  position: relative;
  z-index: 2;
}

.contact-form {
  background-color: rgba(255, 255, 255, 0.6);
  background-size: cover;
  max-width: 80rem;
  width: 100%;
  padding: 2rem;
  color: #000;
  height: 100%;
  margin: 0 3rem 5rem;
}

.contact-form-heading {
  font-size: 2rem;
  font-family: "Fjalla One", serif;
  color: var(--red-brown);
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.form-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2.5rem;
}

.form-control input {
  width: 100%;
}

.form-control input {
  padding: 0.8rem 0.5rem;
  font-size: 1.6rem;
  border: 1px solid #000;
  background-color: #fff;
  color: rgb(100, 100, 100);
  width: 100%;
}

.form-control input::placeholder {
  opacity: 1;
  font-size: 1.4rem;
}

.form-control label {
  display: block;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.first-name {
  grid-column: 1;
}

.last-name {
  grid-column: 2;
}

.email {
  grid-row: 2;
  grid-column: 1 / -1;
}

.phone {
  grid-row: 3;
  grid-column: 1 / -1;
}

.message {
  grid-row: 4;
  grid-column: 1 / -1;
}

.message input {
  padding-bottom: 12rem;
}

.contact-btn {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.contact-form-btn {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--red-brown);
  color: #fff;
  border: none;
}

/* *************** */
/* Find us section */
/* *************** */
.find-us-section {
  background-color: var(--green-black);
  color: var(--white);
  padding: 5rem 5rem 0 5rem;
}

.find-us-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}
.find-us-cols {
  flex: 1;
}

.find-us-heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.find-us-info {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  padding: 0 5rem;
  text-align: center;
  /* gap: 0.5rem; */
}

.find-us-info a:link,
.find-us-info a:visited {
  text-decoration: none;
  color: var(--white);
}

/* subscribe to us */
.subscribe-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto 2rem;
}

.subscribe-heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1rem;
}

.subscriber-email {
  width: 100%;
}

.subscriber-email label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.subscriber-email input {
  padding: 0.8rem 0.5rem;
  font-size: 1.6rem;
  border: 1px solid var(--white);
  background-color: #fff;
  color: var(--white);
  width: 100%;
  background-color: var(--green-black);
}

.subscriber-email input::placeholder {
  opacity: 1;
  font-size: 1.4rem;
}

.agree-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.agree-subscribe label {
  width: 80%;
}

.subscribe-btn:link,
.subscribe-btn:visited {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--green-black);
  text-decoration: none;
  border: none;
}

.subscribe-btn:hover,
.subscribe-btn:active {
  background-color: var(--btn-hover-green-color);
  color: var(--white);
  transition: all 0.3s ease;
}

/* social icons */
.social-icons-sec {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

/* ************** */
/* Footer credits */
/* ************** */
.footer {
  color: var(--red-brown);
  text-align: center;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}

.footer-text {
  font-size: 1.8rem;
}

.by-credit {
  margin-top: 1rem;
  font-size: 1.4rem;
  animation: zoom 3s infinite;
}

/* Keyframe animation for zoom effect */
@keyframes zoom {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.5);
    color: var(--red-brown);
  }
  75% {
    transform: scale(1.4);
    color: var(--green-black);
  }
  50% {
    transform: scale(1.2);
    color: var(--btn-hover-color);
  }
  25% {
    transform: scale(1);
    color: var(--btn-hover-green-color);
  }
}

/* **************** */
/* FAQ Page Styling */
/* **************** */
.faq-section {
  height: 100vh;
}
