@media only screen and (max-width: 1024px) {
  .main-nav-list {
    font-size: 1.8rem;
    gap: 4rem;
  }

  .hero-heading {
    line-height: 1.2em;
    font-size: 3.4rem;
    margin-bottom: 1.2rem;
  }

  .hero-description {
    font-size: 1.8rem;
    line-height: 1.4em;
  }
}
