/* Styling */
.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  height: 14rem;
  padding: 0 5rem;
}

.logo {
  height: 12rem;
}

.site-description {
  font-size: 3em;
  /* color: var(--grey-color-1); */
  color: var(--main-color-2);
  font-weight: 700;
  text-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
}

.main-nav {
  max-width: 96%;
  display: flex;
  align-items: center;
  background-color: var(--main-light-color);
  height: 3rem;
  padding: 2.5rem;
  margin: 2rem 0;
  margin-left: auto;
  margin-right: 0;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.main-nav-list {
  font-size: 2rem;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 8rem;
  padding-right: 2.5rem;
}

.main-nav-link {
  background-color: var(--main-color);
  padding: 0.3rem 2.5rem;
  border-radius: 0.5rem;
  color: var(--main-color-2);
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.1s ease;
}

.main-nav-link:hover {
  transform: scale(1.05);
}

/* Hero section */
.hero-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  background-color: var(--main-light-color);
  border-radius: 0 0.5rem 0.5rem 0;
}

.hero-image {
  height: auto;
  width: 600px;
  border-radius: 0.5rem 0 0 0.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.hero-heading {
  text-align: center;
  line-height: 1.2em;
}

.hero-description {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1.5rem;
  line-height: 1.5em;
}

.featured-heading {
  text-align: center;
}

.featured-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex: 1 1 300px;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.featured-image {
  max-width: 28rem;
  height: auto;
  border-radius: 0.5rem;
}
