/* Styling */
.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  height: 10rem;
  padding: 0 5rem;
}

.logo {
  height: 8rem;
}

.site-description {
  font-size: 3em;
  color: var(--grey-color-1);
}

.main-nav {
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--main-light-color);
  height: 3rem;
  padding: 2.5rem;
  margin: 2rem 0;
  margin-left: auto;
  margin-right: 0;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.main-nav-list {
  font-size: 2rem;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 2.5rem;
}

.main-nav-link {
  color: var(--main-color-2);
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.1s ease;
}

.main-nav-link:hover {
  transform: scale(1.05);
}
